<body>
	<h2>ようこそ Bookersへ！</h2>

	<div class="top-contents">
	<p>Bookersでは、さまざまな書籍に関するあなたの意見や
	<br>
	<br>
	<br>
	印象を共有し交換することができます</p>
	<br>
	<br>
	<br>
	<%= link_to "start", books_path %>
	</div>
</body>

