
<!-- <h2>詳細ページ</h2>
 -->

<body class="show">
	<div class="show-contents">
		<h5 class="show-title">Title: <span><%= @book.title %></span></h5>

		<h5 class="show-body">Body: <span><%= @book.body %></span></h5>
	</div>

	<h5><%=link_to "Edit", edit_book_path(@book) %> | <%=link_to "back", books_path %></h5>
</body>

